# archivo .htaccess

RewriteEngine on

RewriteRule ^inicio-sesion$ controllers/PantallaLogin.php
RewriteRule ^consulta-cuentas$ controllers/PantallaSaldos.php
RewriteRule ^consulta-tarjetas$ controllers/PantallaTarjetas.php
RewriteRule ^transferencias$ controllers/PantallaTransferencias.php
RewriteRule ^administracion-cuentas$ controllers/PantallaAdministracionCuentas.php
RewriteRule ^administracion-tarjetas$ controllers/PantallaAdministracionTarjetas.php
RewriteRule ^administracion-usuarios$ controllers/PantallaAdministracionUsuarios.php
RewriteRule ^administracion-productos$ controllers/PantallaProductos.php
RewriteRule ^cerrar-sesion$ controllers/CerrarSesion.php
RewriteRule ^administracion-tipo-cuentas$ controllers/AdministracionTipoCuenta.php
RewriteRule ^administracion-proveedores$ controllers/AdministracionProveedores.php
